{% extends "layout.html" %}
{% block content %}
<body class="homepage index-home index st-effect-1">
		<div id="container" class="container intro-effect-grid">

			<a class="cd-primary-nav-trigger" id="trigger-menu" href="#0">
			  	<span class="cd-menu-icon"></span>
			</a>



			<header class="header">
				<div class="bg-img">
					<img class="async-image hide" src="#" data-src="{{url_for('static', filename='img/majizuwa1.jpg')}}" alt="Maji Zuwa" />
				</div>
				<div class="title hidden" id="title">
					<h1>My Time In Malawi</h1>
				</div>
			</header>

			<button class="trigger scroll-down-pulse"><span>Trigger</span></button>

			<article class="content">
				<div class="">
					<div class="grid">
						<figure class="single-item-effect small">
							<img src="{{url_for('static', filename='img/lattitude.jpg')}}" alt="preparations"/>
							<figcaption>
								<div class="figcaption-border">
									<h2>So it <span>begins...</span></h2>
									<p>Pre-Departure Preparations</p>
									<a href="pre-departure.html">View more</a>
								</div>
							</figcaption>												
						</figure>
						<figure class="single-item-effect big wild">
							<img src="{{url_for('static', filename='img/ethiopian-airlines.jpg')}}" alt="ethiopian-airlines"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>First</span> steps</h2>
									<p>The Day of Travel</p>
									<a href="day-of-travel.html">View more</a>
								</div>
							</figcaption>												
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="{{url_for('static', filename='img/mabuya.jpg')}}" alt="mabuya"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Orientation</span></h2>
									<p>Culture Shock</p>
									<a href="orientation.html">View more</a>
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="{{url_for('static', filename='img/wasambo-bagpipes.jpg')}}" alt="wasambo bagpipes"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Wasambo</span></h2>
									<p>My home for the next 6 months</p>
									<a href="wasambo.html">View more</a>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
						<figure class="single-item-effect small los-angeles">
							<img src="http://placehold.it/480x320/7f8c8d/ffffff" alt="img01"/>
							<figcaption>
								<div class="figcaption-border">
									<h2><span>Place holder for now</span></h2>
									<p>some stuff</p>
									<a href="single.html">View more</a>
									<div class="figure-overlay"></div>	
								</div>
							</figcaption>											
						</figure>
					</div>
				</div>
			</article>
		</div><!-- /container -->
</body>

{% endblock %}