<div id="st-container" class="st-container">
	<div class="st-menu st-effect-1">
        <div class="fullwidth site-infos">
            <div class="logo">
                <a href="/">
                    <img src="{{url_for('static', filename='img/malawian-flag.svg')}}" alt="Ben In Malawi" >
                </a>
            </div>
            <h3 class="section-title">Ben In Malawi</h3>
            <span class="section-description">My Experiences in the Warm Heart of Africa</span>
        </div>
        <nav class="fullwidth sidebar-navigation-menu">
            <ul>
                <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="gallery.html"><i class="fa fa-picture-o"></i>Gallery</a></li>
                <li><a href="about.html"><i class="fa fa-heart"></i>About</a></li>
                <li><a href="contact.html"><i class="fa fa-phone"></i>Contact</a></li>
            </ul>
        </nav>

        <div class="fullwidth sidebar-social-networks">
            <ul>
                <li class="facebook"><a href="www.facebook.com/dunkle2"><i class="fa fa-facebook"></i></a></li>
                <li class="instagram"><a href="https://www.instagram.com/b7dunkerley/"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>